:root {
    --brand-color: #E16D3C;
    --darkest-color: #161F33;
    --darkest-color-rgba: rgba(16, 25, 33, 0.4);
    --dark-color: #2E3B58;
    --mid-color: #FC9A48;
    --light-color: #E4DFCA;
    --lightest-color: #f7f7f9;
}
 
body {
    background: var(--darkest-color);
    color: var(--lightest-color);
}

a {
    color: var(--light-color);
}

body, p {
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100px;
    max-height: 40px;
}

#sticky-waitlist-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1400;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce .4s infinite alternate;
}

@keyframes bounce {
    from {
        bottom: 10px;
    }
    
    to {
        bottom: 17px;
    }
}

.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.85);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header {
    z-index: 1000;
    font-size: 12px;
}

.navbar {
    width: 100%;
    background: transparent !important;
    height: 100%;
}

.navbar-brand img {
    max-width: 80px;
    max-height: 40px;
}

.btn-join {
    background-color: var(--brand-color);
    color: var(--lightest-color);
    text-decoration: none;
    border-radius: 1px;
}

.btn-join:hover {
    background-color: rgba(141, 73, 42, 0.4);
}

/* Video Background */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.video-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.control-button {
    background: transparent;
    color: #f7f7f9;
    border: none;
    outline: none;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* cursor: pointer; */
}

.hero-content {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    color: #f7f7f9;
    /* max-width: 400px; */
    background: var(--darkest-color-rgba);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.hero-content h1 img {
    max-width: 200px;
    max-height: 100px;
}

.hero-content p {
    font-size: 24px;
}

.hero-content i {
    color: var(--light-color);
}

.typing-text {
    position: relative;
    display: inline-block;
    color: var(--light-color);
}

.cursor {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.feature-image img{
    max-width: 80%;
    max-height: 80vh;
}

.feature {
    min-height: 100vh;
    width: 100vw;
    margin: 0 !important;
    font-size: 1.2rem;
}

.feature.feature-1 {
    background: var(--dark-color);
}

.feature.feature-2 {
    background: var(--mid-color);
}

.feature.feature-3 {
    background: var(--light-color);
    color: var(--darkest-color);
}

footer {
    background: var(--dark-color);
}

@media (min-width: 768px) {
}