/* Global Styles */
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #E16D3C;
}

body, p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    /* font-family: 'Bangers', sans-serif; */
    font-family: 'Fredoka One', sans-serif;
}

/* Header */
/* header {
    background-color: #040100;
    color: #FFFFFF;
    padding: 20px;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}

header.scrolled {
    background-color: rgba(4, 1, 0, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 0.6rem;
}

.logo img {
    max-width: 150px;
}

.waitlist-cta {
    margin-left: auto;
    margin-right: 20px;
    display: none;
    opacity: 0; /* Start with opacity set to 0 for animation */
    transform: translateY(100%); /* Start with element below the view */
    transition: opacity 0.3s, transform 0.3s;
}

.waitlist-cta.scrolled {
    display: block;
    opacity: 1;
    transform: translateY(0);
    padding-top: 0.6rem;
}

.waitlist-cta a {
    color: #FFFFFF;
    text-decoration: none;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo img {
    max-width: 150px;
}

/* Hero Section */
/* .hero {
    background-color: #E16D3C;
    color: #FFFFFF;
    text-align: center;
    padding: 80px 0;
} */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* .hero-content {
    max-width: 800px;
    margin: 0 auto;
} */

.hero-content {
    position: absolute;
    /* top: 50%; */
    left: 20px;
    bottom: 20px;
    color: #FFFFFF;
    max-width: 600px;
    z-index: 1;
}

.btn-join {
    display: inline-block;
    background-color: #E16D3C;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Features Section */
/* Update Features Section Styles */
.features {
    background-color: #040100;
    color: #FFFFFF;
    padding: 60px 0;
    overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}

.feature-container {
    display: block; /* Use flexbox to create horizontal layout */
    width: 300%; /* Set the width to accommodate three features */
    height: auto; /* Take up full viewport height */
    position: relative; /* Required for absolute positioning of features */
    animation: animate-features 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes animate-features {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -100vw;
    }

    100% {
        margin-left: 0;
    }
}

.feature {
    width: 100vw; /* Take up full viewport width */
    height: 30vh;
    position: relative; /* Required for absolute positioning */
    /* scroll-snap-align: start; Snap each feature */
    text-align: center;
    box-sizing: border-box;
}

.feature.feature-1, .feature.feature-3 {
    padding-left: 60vw;
    width: 150vw;
}

.feature.feature-2 {
    margin-left: 102vw;
    /* padding-left: 30vw; */
    margin-top: -2vh;
}

.feature.feature-3 {
    margin-top: -5vh;
    padding-left: 70vw;
}


/* Adjust other feature styles as needed */


/* Adjust other feature styles as needed */


/* Adjust other styles as needed for feature content */
.features h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.features p {
    font-size: 16px;
}

/* Hide horizontal scrollbar */
.features::-webkit-scrollbar {
    display: none;
}

.arrow {
    font-size: 70px;
    color: #E16D3C;
}
/* .feature {
    scroll-snap-align: start;
} */

/* .features h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.features p {
    font-size: 16px;
} */


/* Waitlist Section */
.waitlist {
    background-color: #E16D3C;
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0;
    height: auto;
}

.waitlist a {
    color: inherit;
}

.waitlist h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.waitlist p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Social Icons */
/* .social-icons a {
    margin: 0 10px;
} */

footer {
    background-color: #E16D3C;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

footer a {
    margin: 3px;
}

footer a, footer i {
    color: #FFFFFF;
    text-decoration: none;
}


@media (min-width: 768px) {
    /* .bounce-arrow {
        display: none;
    } */

    /* .hero-content {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; /* Center align the text 
    } */

    .features p {
        width: 300px;
        margin-left: 35vw;
    }

    .feature.feature-2 p {
        margin-left: 40vw;
    }

    /* .waitlist-cta.scrolled {
        opacity: 0;
    } */
}
